<html>
<head>
  <title>Todo App</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <div class="container" id="app">
    <div>{{text}}</div>
    <p>
      <label for="new-task">Add Item</label>
      <input id="new-task" type="text" v-on:keyup.13="addTodoItem">
      <button @click="addTodoItem">Add</button>
    </p>
    <h3>Todo</h3>
    <ul id="incomplete-tasks">
      <todoitem v-for="(todolist,index) in todolist" :key="todolist.label" :todolist="todolist" :li-index="index" @delete-todo="deleteTodoItem" @remove-todo="removeTodoList"></todoitem>
    </ul>
    <h3>Completed</h3>
    <ul id="completed-tasks">
      <todoitem v-for="(todolist,index) in completedlist" :key="todolist.label" :todolist="todolist" :li-index="index" @delete-todo="deleteTodoItem" @remove-todo="removeTodoList"></todoitem>
    </ul>
  </div>
<script>
Vue.component('todoitem',{
  template:`<li :data-index="liIndex">
              <input type="checkbox" v-model="todolist.check" @click="removeItem">
              <label>{{todolist.item}}</label>
              <button class="delete" @click="deleteItem">Delete</button>
            </li>`,
  props:{
    liIndex:Number,
    todolist:Object
  },
  methods:{
    deleteItem(){
      this.$emit('delete-todo' , event);
    },
    removeItem(){
      this.$emit('remove-todo' , event);
    }
  }
})
let vue = new Vue({
  el:"#app",
  data:{
    text:'人有見識就不輕易發怒，寬恕人的過失便是自己的榮耀。(箴19:11)',
    todolist:[],
    completedlist:[],
    fixed:0
  },
  created(){
    let completed = new Object();
    completed.label = 1;
    completed.check ='checked';
    completed.item = "買衛生紙";
    this.completedlist.push(completed);
    this.fixed++;
    let todolistItemOne = new Object();
    todolistItemOne.label = 2;
    todolistItemOne.check = '';
    todolistItemOne.item = "付信用卡費";
    this.todolist.push(todolistItemOne);
    this.fixed++;
    let todolistItemTwo = new Object();
    todolistItemTwo.label = 3;
    todolistItemTwo.check = '';
    todolistItemTwo.item = "還書";
    this.todolist.push(todolistItemTwo);
    this.fixed++;

  },
  methods:{
    addTodoItem() {
      let input = document.getElementById('new-task');
      if(input.value.trim()){
        this.fixed++;
        let newTodoItem = new Object();
        newTodoItem.id = this.fixed;
        newTodoItem.check = '';
        newTodoItem.item = input.value.trim();
        this.todolist.push(newTodoItem);
        input.value = ''; 
      }else{
        alert('請輸入代辦事項');
        return
      }
    },
    deleteTodoItem(event){
      const index = event.target.closest('li').dataset.index;
      const todoType = event.target.closest('ul').id;
      const isDelete = confirm('Do you want to delete this item ?')? true:false;
      if(isDelete){
        this.deleteItem(todoType, index);
      }
      
    },
    deleteItem(todoType, index){ 
      switch(todoType){
        case 'incomplete-tasks':
        // console.log('Delete incomplete tasks:', todoType, index);
        // console.log(this.todolist);
        // console.log(this.completedlist);
        // console.log('start delete todolist 4:30');
          this.todolist.splice(index, 1); 
        // console.log(this.todolist);
        // console.log(this.completedlist);
        // console.log('end delete');
          break;
        case 'completed-tasks': 
        default: 
        // console.log('Delete complete tasks:', todoType, index);
        // console.log(this.todolist);
        // console.log(this.completedlist);
        // console.log('start delete completed 4:30');
          this.completedlist.splice(index, 1);
        //   console.log(this.todolist);
        // console.log(this.completedlist);
        // console.log('end delete');
          break;
      }
    },
    removeTodoList(event){
      const index = event.target.closest('li').dataset.index;
      const todoType = event.target.closest('ul').id;
      // console.log('removeTodoList:', todoType, index);
      // console.log(this.todolist);
      // console.log(this.completedlist);
      // console.log('start move ======== 04:19');

      let moveItem = new Object();
      if (todoType=='incomplete-tasks'){
        
      
        moveItem.check = 'checked';
        moveItem.item = JSON.parse(JSON.stringify(this.todolist[index].item));
        //moveItem.item = this.todolist[index].item;
        // console.log('move obj:',moveItem);
        // console.log('incomplete check origin data ');
        // console.log(this.todolist);
        // console.log(this.completedlist);
        // console.log('start push ========');
        this.completedlist.push(moveItem);
        // console.log(this.todolist);
        // console.log(this.completedlist);
        // console.log('end push ========');
      } else {
      
        moveItem.check = '';
        moveItem.item = JSON.parse(JSON.stringify(this.completedlist[index].item));
        //moveItem.item = this.completedlist[index].item;
        // console.log('move obj:',moveItem);
        // console.log('completed check origin data ');
        // console.log(this.todolist);
        // console.log(this.completedlist);
        // console.log('start push ========');
        this.todolist.push(moveItem);
        
        //console.log('end push ========');
      }
      this.deleteItem(todoType, index);
    }
  }
})
</script>
</body>
</html>